.row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.cell--title {
  width: 60%;
}
.cell--title__text {
  color: var(--primary-color);
}

.cell {
  text-align: center;
  width: 20%;
}

@media (max-width: 768px) {
  .row {
    font-size: 0.6rem;
  }
}