@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  display: flex;
  justify-content: center;
}